* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
    height: 100vh;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

h2{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.618rem;
    font-weight: 900;
    padding: 6rem  0;
    justify-content: center;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    /* justify-content: center; */
    position: relative;
}

#grid{
    background-color: #333;
    height: 50vh;
    width: 50vh;
    display: grid;
    gap: 3px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr  1fr;
}

.cell{
    align-items: center;
    background-color: antiquewhite;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#player{
    font-size: 6rem;
    font-weight: 400;

}


#player.blue, .cell.blue{
    color : darkcyan;
    cursor: default;
}    


#player.red, .cell.red{
    color: tomato;
    cursor: default;

}    


#overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    color: antiquewhite;
    height: 100%;
    width: 100%;
    background-color: #000000CC;
    
    
}

#overlay h2 {
    font-size: 2.618rem;
}

#overlay.blue{
    background-color: darkcyan;
}

#overlay.red{
    background: tomato;
}

#overlay.hidden{
    display: none;
}


footer{
    align-items: center;
    background-color: #333;
    color: antiquewhite;
    display: flex;
    justify-content: center;
}